.container {
    position: relative;
    margin: 30px;
    border-radius: 5px; 
    background-color: #fff;
    width: 308px;
    padding: 20px;

    & p {
        text-align: justify;
    }

    & img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}